body{
	margin: 0;
	padding: 0;
}
h1{
	color:#8883FC;
	padding-left:30px;
}
#box{
	width: 300px;
	height: 500px;
	border: 1px solid blue;
	border-radius: 5px;
	box-shadow: 10px 10px 5px ;
	margin: 10px auto;
	background:#B99DFF;
	background-image: url(../images/1.jpg);
}
ul{
	font-size: 20px;
	font-weight: bold;
	color:#260202;
}
ul,li{
	margin-left: 10px;
	list-style:none;

}

li{
	font-size: 15px;
	border-bottom: 0.5px solid blue;
	padding-left: 10px;
	color: #668DFC#424C73;