*{margin: 0;padding: 0}
body{
	background:green;
}
#demo{
	width: 1024px;
	height: 512px;
	background: url(../images/demo.jpg) no-repeat;
	border: 1px solid #C8FEF7;
	margin: 30px auto;
	position: relative;
}
#demo img:nth-child(1){
	width: 330px;
	height: 300px;
	border: 2px solid green;
	position: absolute;
	left: 267px;
	top: 108px;
}
#demo img:nth-child(2){
	width: 286px;
	height: 262px;
	border: 1px solid green;
	position:absolute;
	left: 649px;
	top: 210px;
}
#demo button{
	margin:460px 0 0 30px;
	width: 80px;
	height: 30px;
	background:#A6FDFE;
	border:none;
	border-radius: 10px;
	color:green;
}